:root {
    --edition-color: #4DD5D3;
    --title-color: #535353 ;
    --author-color: #b3b3b3;
    --course1-dark: #6932a8;
    --course1-light: #dbc0fa;

}

.listingsContainer {
    width: 40%;
    align-self: center;
}

.listingContainer {
    /* individual listing */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 20vh;
    border: 1.5px solid #e4e8ee;
    border-radius: 10px;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 2.5vh;
    line-height: 3vh;
}

.listingPicture {
    display: flex;
    height: 100%;
}

.listingTitle {
    display: flex;
    color: var(--title-color);
    font-size: larger;
}

.listingAuthor {
    display: flex;
    color: var(--author-color);
    margin-bottom: 1vh;    
}

.listingEdition {
    display: flex;
}

.specificImage {
    display: flex;
    height: 100%;
    width: 90%;
}

.listingInfo {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.listingItemInfo{
    display: flex;
    flex-direction: column;
    color: var(--edition-color);
}
.listingCourses {
    display: flex;
    color: var(--course1-dark);
    border-color: var(--course1-dark);
    background-color: var(--course1-light);
    width: max-content;
    border-radius: 7px;
    border: 1.5px solid;
}
.listingPrice {
    display: flex;
    color: var(--title-color);
    font-size: xx-large;
    padding-bottom: 5vh;
}

.listingDisplayContainer {
    /* contains whole page */
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.listingSellInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
}

.listingContactSold {
    display: flex;
    margin-right: 10vw;
    background-color: var(--edition-color);
    border-radius: 28px;
}

.listingContactAvailable {
    display: flex;
    width: max-content;
    margin-right: 10vw;
    background-color: var(--edition-color);
    border-radius: 28px;
    color: white;
    border-radius: 7px;
    padding-bottom: 5px;
}