:root {
    --main-text-color: #1DC2C45A;
    --bold-text-color: #12B0B2;
    --secondary-text-color: #898E91;
    --main-bg-color: #F2FAFC;
    --secondary-bg-color: #485888;
}

.tableHeader {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 3fr 2fr 3fr 1fr;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    width: 90%;

    text-align: center;
    font: Medium 23px/15px Acari Sans;
    letter-spacing: 0px;
    color: var(--secondary-text-color);
    opacity: 1;

    background-color: #FFFFFF;
    z-index: 1;
}

.tableRowContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 50vh;
    overflow-y: scroll;
}

.tableRow {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 3fr 2fr 3fr 1fr;
    align-items: center;
    width: 90%;

    background: var(--main-bg-color) 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;

    margin: 1vh;

    text-align: center;
    font: Medium 23px/15px Acari Sans;
    letter-spacing: 0px;
    color: var(--main-text-color);
    opacity: 1;
}

.tableRow .detail {
    color: var(--bold-text-color);
}

.selected p, .selected a {
    font-weight: 600;
    color: var(--bold-text-color);
}

.tableFooter {
    display: flex;

    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding-top: 10px;

    width: 90%;

    text-align: center;
    font: Medium 23px/15px Acari Sans;
    letter-spacing: 0px;
    color: var(--main-bg-color);
    opacity: 1;

    background-color: #FFFFFF;
    z-index: 1;
}

.tableRow > * {
    color: var(--main-text-color);
}

a {
    color: var(--main-text-color);
}

.iconButton {
    color: #8E9EB2 !important;
    background-color: transparent;
}

.iconButton:hover {
    color: var(--main-text-color) !important;
    background-color: transparent;
}

.visibilityOff {
    color: #8E9EB2;
    opacity: 0.5;
}