/* :root {
    --main-text-color: #e35f49;
    --main-bg-color: #697e99;
    --secondary-bg-color: #f7fafc;
} */

.courseListContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex: 1;

    overflow-y: scroll;
    background-color: var(--main-bg-color);

    border-bottom: 1px solid var(--secondary-bg-color);
    padding-bottom: 25px;
}

/* .courseListContainer::-webkit-scrollbar {
    width: 8px; 
}
.courseListContainer::-webkit-scrollbar-track {
    background: #ffffff; 
}

.courseListContainer::-webkit-scrollbar-thumb {
    background: var(--main-bg-color) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
} */

.courseRow {
    display: grid;
    grid-template-columns: 1fr 11fr;

    align-items: center;
    justify-content: flex-start;
    width: 100%;
    opacity: 1;

    text-align: center;
    font: Medium 23px/15px Acari Sans;
    letter-spacing: 0px;
    opacity: 1;
}

.courseRow .courseCode {
    text-align: left;
    /* text-decoration: underline; */
    color: #384569;
    opacity: 1;
}

.courseRow > .courseName {
    text-align: left;
    color: var(--bold-text-color);
    /* text-decoration: underline; */
    font: normal normal medium 23px/27px Acari Sans;
    letter-spacing: 0px;
}

.courseRow > .collapsible {
    grid-column: 1 / -1;
}

.detailBox {
    width: 75%;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 11fr;

    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin-bottom: 10px;
    margin-left: 30px;

    text-align: left;
    font: normal normal normal 19px/27px Acari Sans;
    letter-spacing: 0px;
    color: #697e99;
    opacity: 1;

    align-items: baseline;
}

.detailBox > .sessionMoreInfo {
    grid-column: 1 / -1;
    width: 30px;
    justify-self: center;
}
