/* Hide the all day row at the top */
.rbc-allday-cell {
    display: none;
}
.rbc-time-view .rbc-header {
    border-bottom: none;
}

/* Hide the time label on the event object */
.rbc-day-slot .rbc-event-label {
    display: none;
}

/* Styles for calendar events (courses/labs) on the calendar */
.courseEventWrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.courseEvent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;

    text-align: left;
    font-family: Avenir Next;
    font: Medium 16px/15px Avenir Next;
    letter-spacing: 0px;
    opacity: 1;
}

.courseEventBar {
    width: 4px;
    background-color: #e35f4980;
    border: 0px;
    border-radius: 10px;
    opacity: 1;

    margin-right: 10px;
}

.courseEvent > #courseCode {
    text-decoration: underline;
    color: #384569;

    font-size: 1em;
    line-height: 3px;
}

.courseEvent > #courseTime {
    color: #8e9eb2;
    margin-top: 2px;
    flex-grow: 1;

    font-size: 0.7em;
    line-height: 1px;
}

.courseEvent > #courseInstructor {
    color: #384569;
    margin-top: 3px;

    font-size: 0.7em;
    line-height: 1px;
}
