.layout {
    /* padding is for text in box */
    /* to cover the whole screen */
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: left; /* horizontal, equidistant */
    flex-direction: row;
    /*align-items: space-around;  /* vertical */
    /* justify-content and align-items depend on flex-direction
    if flex-direction == column, reversed */
}

.addBtn {
    width: 545px;
    height: 270px;

    margin-top: 50px;
    margin-left: 50px;
    margin-right: 25px;

    background-color: transparent;
    border: 1.5px solid #e1e3e3;
    box-sizing: border-box;
    border-radius: 5px;

    font-size: 100%;
}
