.layout {
    /* padding is for text in box */
    /* to cover the whole screen */
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left; /* horizontal, equidistant */
    flex-direction: row;
    /*align-items: space-around;  /* vertical */
    /* justify-content and align-items depend on flex-direction
    if flex-direction == column, reversed */
    margin-left: 50px;
    margin-right: 25px;
}
.addBtn {
    width: 545px;
    height: 60%;
    /* margin-top: 50px; */
    margin-left: 50px;
    margin-right: 50px;
    background-color: transparent;
    /* border: transparent; */
    border: 1.5px solid #e1e3e3;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 250px;
    color: #e1e3e3;
    padding-bottom: 20%;

}

.addBtn:hover{
    cursor: pointer;
    background-color: #e1e3e3;
    color: white;
}

.title {
    font: "Acari Sans";
    font-style: normal;
    font-size: 32px;
    padding-left: 20px;
    margin-top: 47px;
    position: relative;
    text-align: center;
    color: #149fa0;
}

.toschedule {
    height: 35px;
    left: 128px;
    top: 511px;
    border: 1.5px solid #e1e3e3;
    box-sizing: border-box;
    background-color: white;
    font: "Acari Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15.75px;
    line-height: 19px;
    color: #149fa0;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    /* position: absolute;
    top: 0px;
    right: 0px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.toschedule:hover {
    background-color: #149fa0;
    color: #e1e3e3;
}
.addNewScheduleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    align-items: center;
}
