.lcbox {
    position: relative;
    width: 420px;
    height: 48px;
    left: -1px;
    top: -1px;

    border-right: 1.5px solid #e1e3e3;
    border-top: 1.5px solid #e1e3e3;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.courseCode {
    height: 19px;

    font: "Acari Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #338182;
}

.courseName {
    height: 19px;

    font: "Acari Sans";
    font-style: normal;
    font-size: 16px;
    line-height: 19px;

    color: #63ccce;
}
