.semesterFlexBox {
    /* Rectangle 1728 */
    width: 545px;
    height: 30%;
    border: transparent;
    box-sizing: border-box;
    border-radius: 5px;
}
.button {
    height: 35px;
    left: 128px;
    top: 511px;
    border: 1.5px solid #e1e3e3;
    box-sizing: border-box;
    background-color: white;
    left: 10.64%;
    right: 82.37%;
    top: 52.58%;
    bottom: 45.24%;
    font: "Acari Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15.75px;
    line-height: 19px;
    color: #149fa0;
    margin-bottom: 10px;
    cursor: pointer;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
/* hover is a keyword */
.button:hover {
    background-color: #149fa0;
    color: #e1e3e3;
}
.bigBox {
    width: 545px;
    /* height: 315px; */
    /* border: 1.5px solid #d45b0b; */
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 25px;
}
.modal {
    margin-top: 15%;
    margin-left: 30%;
    width: 545px;
    height: 270px;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 5px;
}
.notesContent {
    font: "Acari Sans";
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: transparent;
}
.textbox {
    position: relative;
    top: 10px;
    width: 520px;
    height: 240px;
    font: "Acari Sans";
    font-size: 6px;
    border: transparent;
    border-radius: 5px;
    resize: none;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
