.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutProfiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.aboutProfiles img {
    height: auto;
    max-width: 100%;
}

.aboutProfiles > .profile {
    width: 300px;
    padding: 50px;
}

.profile > p {
    text-align: center;
    letter-spacing: 0px;
    color: #8e9eb2;
    opacity: 1;
}

.profile > .profileName {
    font: normal normal bold 23px/15px Acari Sans;
}

.profile > .profileTitle {
    font: normal normal bold 15px/10px Acari Sans;
}

.profile > .profileDesc {
    font: normal normal 15px/10px Acari Sans;
}