.filter {
        width: 400px;
        display: inline-block;
        margin-top: 20;
        margin-left: 20;
}
    .button {
        display: flex;
        float: center;
        margin-right: 12;
        margin-top: 12;
        padding: 0px 2px 0px 2px;
        font-size: 11px;
        box-shadow: none;
        border-radius: 25px;
        text-transform: none;
        width: 30%;
        justify-content: space-around;
    }
    .buttons {
        display: flex;
        margin-left: 20;
    }
    .searchBar {
        background: #E4E8EE;
        border: 2px solid #E4E8EE;
        border-radius: 15px 0px 0px 15px;
        opacity: 1;
        top: 100vw;
        left: 20vw;
        width: 28vw;
        height: 43vw;
    }
    .searchTxt {
        font-size: 12px;
        margin-left: 20;
        margin-top: 8;
    }

