.filter {
    display: inline-block;
}
/* button class does not work for styling material ui button:
.button.selected {
    display: flex;
    float: center;
    margin-right: 12px;
    padding: 1px 24px 1px 24px;
    font-size: 11px;
    box-shadow: none;
    border-radius: 25px;
    text-transform: none;
    width: 30%;
    justify-content: space-around;
} */

.buttons {
    display: flex;
    margin-left: 20px;
}

.searchBar {
    background: #e4e8ee;
    border: 2px solid #e4e8ee;
    border-radius: 15px 0px 0px 15px;
    opacity: 1;
    top: 100vw;
    left: 20vw;
    width: 28vw;
    height: 43vw;
}

.searchTxt {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
