/* .tableRow {
    border-radius: 100px;
    background-color: white;
    border-color: black;
} */

.detailCollapsible {
    grid-column: 1 / -1; /* cover the entire columnspace */
}

.detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 15px;
}